version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "dotnet"
  
  - package-ecosystem: "pip"
    directory: "/src/Services/Agent/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "python"
  
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "ci"
      - "dependencies"
